<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Technology Enthusiast for App Development!</h2>
                <hr class="light">
                <p class="text-faded">With fair understanding of modern day's development patterns, I have been successful in providing companies/clients with the desired solutions and receiving applause!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
