<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Anukool Srivastav</h1>
            <hr>
            <p>A Senior Android Developer with experience of working with e-commerce, fintech apps with top startups. Skilled in Android, Java, Kotlin, C++, Dart, SQL and Flutter
			 with Master&#39;s Degree in Computer Science. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
